.DS_Store
specialolympics/__pycache__
analytics/__pycache__
analytics/dash_apps/finished_apps/__pycache__/surveys_dup.cpython-311.pyc
analytics/dash_apps/finished_apps/__pycache__/surveys_taken.cpython-311.pyc
/testapp
/AWS
content
*.pyc
excel_data/
venv/
backup31Janv1.sql
