 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <!-- <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form> -->

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">

            <!-- Dropdown - User Information -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              <li class="nav-item active">
                <!-- <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a> -->
                <a class="nav-link" href="/auth/change_password/">Change Password</a>

              </li>
              <li class="nav-item active">
                <li class="nav-item active">
                    <a class="nav-link" href="../index_graph">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span></span></a>
                </li>
                <!-- <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a> -->
              </li>
        </li>

    </ul>

</nav>