{%  extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}  <!-- load widget_tweaks -->

{% block extrahead %}
    {{ form.media.css }}
{% endblock %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
<script src="{% static 'django_select2/django_select2.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

</head>
<body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> -->

<!-- <script>
    $(document).ready(function() {
        var $select1 = $('#id_state_abv');

        $select1.on('change', function() {
            console.log('state_abv changed');
        });
    });
</script> -->

<form method="POST" action="{% url 'download_pdf' %}">
  {% csrf_token %}
  <button type="submit">Generate Report</button>
</form>

<form action="{% url 'index_graph' %}" method="post">
  {% csrf_token %}
  <div class="container">
      <div class="form-row">
          {% for field in form %}
          <div class="form-group col-md-4 col-lg-4 mb-3">
              <label for="{{ field.auto_id }}" class="d-block text-left">{{ field.label }}</label>
              {{ field|add_class:"form-control" }}
          </div>
          {% endfor %}
      </div>
      <div class="form-group row">
        <div class="col-sm-8">
          <button id="loadingButton" class="btn btn-primary" type="button" style="display: none;">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Loading...</span>
          </button>
          <input id="submitButton" type="submit" class="btn btn-primary mt-2" value="Submit">
      </div>
      </div>
  </div>
</form>

{% block extrascripts %}
    <!-- <script src="{% static 'django_select2/django_select2.js' %}"></script> -->
  
{% endblock %}
<!-- <script>
$(document).ready(function() {
    $('.django-select2').select2();
});
</script> -->


<title>Collapsible Rows</title>
<style>
  /* Basic styling for the collapsible rows */
  details {
    /* width: 1200px; */
    margin: 10px;
    border: 1px solid #ddd;
    /* padding: 5px; */
    overflow: hidden; /* Hide overflowing content */

  }
  summary {
    cursor: pointer;
    outline: none;
    padding: 10px;
    background-color: #f0f0f0;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  /* Styling for the + and - icons */
  summary::after {
    content: "+";
    font-size: 18px;
    float: right;
    margin-right: 10px;
  }
  details[open] summary::after {
    content: "-";
  }

  details[open] {
    overflow: auto; /* Show scrollbar when open */
    max-height: auto; /* Set a maximum height for open state */
  }

  .resizable-plot {
        max-width: 100%; /* Limit width to the available space */
        max-height: auto; /* Set a maximum height */
        overflow: auto; /* Add scrollbar if content overflows */
    }
  /* Remove the default list styles */
  #rowList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .compare-by {
    height: 38px; /* Adjust this value as needed */
}
.select-info-container {
    position: relative;
}

.select2-container .select2-selection--single {
    height: 38px;  /* Or whatever height you want */
    border-color: #cacbcf;
    display: flex;
    align-items: center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 38px;  /* Should match the height set above */
    border-color: #cacbcf;

}


#info-button-1 {
    position: absolute;
    right: 0;
}

#info-button-2 {
  float: right;
}

#info-button-3 {
  float: right;
}

#info-button-4 {
  float: right;
}

#info-button-5 {
  float: right;
}

#info-button-6 {
  float: right;
}
  
#info-button-7 {
  float: right;
}

#info-button-8 {
  float: right;
}
  
  
</style>
</head>
<body>
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Graph Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="modal-text">This figure illustrates the response rates for the Year 14 State Program.</p>


          <!-- Add your text content explaining the graph here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <ul id="rowList">
    <li>
      {% if plot9 %}
      <details open>

        <summary>{{plot_titles.plot9}}</summary>
        <!-- <div class="dropdown-container" id="dropdown-container-1"> -->
        <div class="select-info-container">
        <button id="info-button-1" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
          <i class="fas fa-question-circle"></i>
                </button>
      </div>
        <!-- Add a spinner element for the loader (hidden by default) -->
        <div id="loader" style="display: none;">
          <img src="{% static 'images/loader.gif' %}" alt="Loading...">
        </div>
        <div class="content">
        <div class="resizable-plot" id="resizable-plot-9"> {{plot9|safe}}</div>
         </div>
        </div>

      </details>
      
      {% else %}
      <details open>
          <summary>{{plot_titles.plot9}}</summary>
          <div class="content" style="padding: 10px; text-align: center;">
            <p style="color: grey;">No data available to display</p>
          </div>
      </details>
  {% endif %}

    </li>
    <li>
      {% if plot1 %}
      <details open>

        <summary>{{plot_titles.plot1}}</summary>
        <div class="dropdown-container" id="dropdown-container-1">
        <div class="select-info-container">
        <select class="compare-by" id="compare-by-1">
          <option value="">Compare By...</option>
          <option value="imp_level">Implementation Level</option>
          <option value="locale">Locale</option>
          <option value="school_level">School Level</option>
          <option value="survey_taken_year">Survey Year</option>

          <!-- Add more options as needed -->
        </select>
        <button id="reset-button-1" class="btn btn-secondary">Reset</button>
        <button id="info-button-1" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
          <i class="fas fa-question-circle"></i>
                </button>
      </div>
        <!-- Add a spinner element for the loader (hidden by default) -->
        <div id="loader" style="display: none;">
          <img src="{% static 'images/loader.gif' %}" alt="Loading...">
        </div>
        <div class="content">
        <div class="resizable-plot" id="resizable-plot-1"> {{plot1|safe}}</div>
         </div>
        </div>

      </details>
      
      {% else %}
      <details open>
          <summary>{{plot_titles.plot1}}</summary>
          <div class="content" style="padding: 10px; text-align: center;">
            <p style="color: grey;">No data available to display</p>
          </div>
      </details>
  {% endif %}

    </li>
    <li>
      {% if plot2 %}

        <details open>
            <summary>{{plot_titles.plot2}}</summary>
            <button id="info-button-2" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
              <i class="fas fa-question-circle"></i>
            </button>
            <div class="content">
            <div class="resizable-plot"> {{plot2|safe}}</div>
            </div>
          </details>
          {% else %}
          <details open>
              <summary>{{plot_titles.plot2}}</summary>
              <div class="content" style="padding: 10px; text-align: center;">
                <p style="color: grey;">No data available to display</p>
              </div>
          </details>
      {% endif %}

    </li>
    <li>
      {% if plot3 %}

        <details open>
            <summary>{{plot_titles.plot3}}</summary>
            <button id="info-button-3" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
              <i class="fas fa-question-circle"></i>
            </button>
        
            <div class="content">
            <div class="resizable-plot"> {{plot3|safe}}</div>
            </div>
          </details>
          {% else %}
          <details open>
              <summary>{{plot_titles.plot3}}</summary>
              <div class="content" style="padding: 10px; text-align: center;">
                <p style="color: grey;">No data available to display</p>
              </div>
          </details>
      {% endif %}

    </li>
    <li>
      {% if plot4 %}

        <details open>
            <summary>{{plot_titles.plot4}}</summary>
            <button id="info-button-4" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
              <i class="fas fa-question-circle"></i>
            </button>
            <div class="content">
            <div class="resizable-plot"> {{plot4|safe}}</div>
            </div>
          </details>
          {% else %}
      <details open>
          <summary>{{plot_titles.plot4}}</summary>
          <div class="content" style="padding: 10px; text-align: center;">
            <p style="color: grey;">No data available to display</p>
          </div>
      </details>
  {% endif %}


    </li>
    <li>
      {% if plot5 %}
        <details open>
            <summary>{{plot_titles.plot5}}</summary>
            <div class="dropdown-container" id="dropdown-container-2">
              <select class="compare-by" id="compare-by-2">
                <option value="">Compare By...</option>
                <option value="imp_level">Implementation Level</option>
                <option value="locale">Locale</option>
                <option value="school_level">School Level</option>
                <option value="survey_taken_year">Survey Year</option>

                <!-- Add more options as needed -->
              </select>
              <button id="info-button-5" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-question-circle"></i>
              </button>
              <button id="reset-button-2" class="btn btn-secondary">Reset</button>
      
              <!-- Add a spinner element for the loader (hidden by default) -->
              <div id="loader" style="display: none;">
                <img src="{% static 'images/loader.gif' %}" alt="Loading...">
              </div>
            <div class="content">
            <div class="resizable-plot" id="resizable-plot-2"> {{plot5|safe}}</div>
            </div>
          </details>
          {% else %}
          <details open>
              <summary>{{plot_titles.plot5}}</summary>
              <div class="content" style="padding: 10px; text-align: center;">
                <p style="color: grey;">No data available to display</p>
              </div>
          </details>
      {% endif %}

    </li>
    <li>
      {% if plot6 %}

        <details open>
            <summary>{{plot_titles.plot6}}</summary>
            <div class="dropdown-container" id="dropdown-container-3">
              <select class="compare-by" id="compare-by-3">
                <option value="">Compare By...</option>
                <option value="imp_level">Implementation Level</option>
                <option value="locale">Locale</option>
                <option value="school_level">School Level</option>
                <option value="survey_taken_year">Survey Year</option>

                <!-- Add more options as needed -->
              </select>
              <button id="info-button-6" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-question-circle"></i>
              </button>
              <button id="reset-button-3" class="btn btn-secondary">Reset</button>
      
              <!-- Add a spinner element for the loader (hidden by default) -->
              <div id="loader" style="display: none;">
                <img src="{% static 'images/loader.gif' %}" alt="Loading...">
              </div>
            <div class="content">
            <div class="resizable-plot" id="resizable-plot-3"> {{plot6|safe}}</div>
            </div>
          </details>
          {% else %}
          <details open>
              <summary>{{plot_titles.plot6}}</summary>
              <div class="content" style="padding: 10px; text-align: center;">
                <p style="color: grey;">No data available to display</p>
              </div>
          </details>
      {% endif %}

    </li>
    <li>
      {% if plot7 %}

        <details open>
            <summary>{{plot_titles.plot7}}</summary>
            <div class="dropdown-container" id="dropdown-container-4">
              <select class="compare-by" id="compare-by-4">
                <option value="">Compare By...</option>
                <option value="imp_level">Implementation Level</option>
                <option value="locale">Locale</option>
                <option value="school_level">School Level</option>
                <option value="survey_taken_year">Survey Year</option>

                <!-- Add more options as needed -->
              </select>
              <button id="info-button-7" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-question-circle"></i>
              </button>
              <button id="reset-button-4" class="btn btn-secondary">Reset</button>
      
              <!-- Add a spinner element for the loader (hidden by default) -->
              <div id="loader" style="display: none;">
                <img src="{% static 'images/loader.gif' %}" alt="Loading...">
              </div>
            <div class="content">
            <div class="resizable-plot" id="resizable-plot-4"> {{plot7|safe}}</div>
            </div>
          </details>
          {% else %}
          <details open>
              <summary>{{plot_titles.plot7}}</summary>
              <div class="content" style="padding: 10px; text-align: center;">
                <p style="color: grey;">No data available to display</p>
              </div>
          </details>
      {% endif %}

    </li>
    <li>
      {% if plot8 %}

        <details open>
            <summary>{{plot_titles.plot8}}</summary>
            <!-- <div class="dropdown-container" id="dropdown-container-4">
              <select class="compare-by" id="compare-by-5">
                <option value="">Compare By...</option>
                <option value="imp_level">Implementation Level</option>
                <option value="locale">Locale</option>
                <option value="school_level">School Level</option> -->
                <!-- Add more options as needed -->
              <!-- </select>
              <button id="reset-button-5" class="btn btn-secondary">Reset</button>
       -->
              <!-- Add a spinner element for the loader (hidden by default) -->
              <!-- <div id="loader" style="display: none;">
                <img src="{% static 'images/loader.gif' %}" alt="Loading...">
              </div> -->
              <button id="info-button-8" class="btn btn-info" data-toggle="modal" data-target="#infoModal">
                <i class="fas fa-question-circle"></i>
              </button>
            <div class="content">
              <div class="resizable-plot" id="resizable-plot-5"> {{plot8|safe}}</div>
            </div>
          </details>
          {% else %}
          <details open>
              <summary>{{plot_titles.plot8}}</summary>
              <div class="content" style="padding: 10px; text-align: center;">
                <p style="color: grey;">No data available to display</p>
              </div>
          </details>
      {% endif %}

    </li>
  </ul>


  <script>
//     $(document).ready(function() {
//     $('#state_drop').select2();
//     $('#county_drop').select2();
// });

function generatePDF() {
    html2canvas(document.body).then(function(canvas) {
        var imgData = canvas.toDataURL('image/png');
        var doc = new jsPDF();
        doc.addImage(imgData, 'PNG', 10, 10);
        doc.save('download.pdf');
    });
}

$(document).ready(function() {
    $('#submitButton').click(function(e) {
        // e.preventDefault();  // Prevent the form from being submitted
        $(this).hide();  // Hide the submit button
        $('#loadingButton').show();  // Show the loading button
    });
});
$(document).ready(function() {
    // Assuming your info buttons have ids 'info-button-1', 'info-button-2', etc.
    $('#info-button-1, #info-button-2, #info-button-3, #info-button-4, #info-button-5, #info-button-6, #info-button-7, #info-button-8').click(function() {
        var buttonId = $(this).attr('id');
        var message;
        var selectedYear = $('#survey_drop').val();
        var state = $('#state_drop').val();

        switch (selectedYear) {
          case '2023':
            year = "15 (2022-23)"
            break;
          case '2022':
            year = "14 (2021-22)"
            break;
          case '2021':
            year = "13 (2020-21)"
            break;
          case '2020':
            year = "12 (2019-20)"
            break;
          case '2019':
           year = "11 (2018-19)"
           break;
    }

        // Update the message based on the button id
        switch (buttonId) {
            case 'info-button-1':
                message = 'This figure illustrates the response rates for the Year ' + year + ' State Program.';
                break;
            case 'info-button-2':
                message = 'The graph depicts the implementation of the Core Experience in ' + state +', categorized by sports, whole school, and leadership.';
                break;
            case 'info-button-3':
                message = 'This figure illustrates the implementation levels over time for National vs ' + state + ' State Program, segmented into national and state emerging, developing, and full implementation.';
                break;
            case 'info-button-4':
                message = 'The figure displays the percentage of National vs ' + state + '  State Program Core Experience implementation over time, with a breakdown by Unified Sports, Inclusive Leadership, and Whole School Engagement.';
                break;
            case 'info-button-5':
                message = 'This figure showcases the percentage of National Data vs ' + state + ' Data schools implementing each Unified Sports activity, categorized into Unified Developmental Sports, Young Athletes, Unified esports, Unified fitness, Unified PE, and Unified Sports Teams.';
                break;
            case 'info-button-6':
                message = 'This figure displays the percentage of schools participating in each Youth Leadership activity, distinguishing between National Data and ' + state + ' State Program schools. The activities are categorized into Youth Activation Committee, Youth Summit, Young Athletes Volunteers, Inclusive Youth Leadership Training/Class, and Unified/Inclusive Club.';
                break;
            case 'info-button-7':
                message = 'This figure illustrates the percentage of schools participating in each Inclusive Whole School Engagement activity, comparing National Data to ' + state + ' State Program schools.';
                break;
            case 'info-button-8':
                message = 'This figure illustrates the percentage of Liaisons who found SONA resources useful, comparing State Program ' + state + ' to National Data. ';
                break;
            default:
                message = 'Default message.';
        }

        // Update the modal text
        $('#modal-text').text(message);
    });
});

$(document).ready(function() {
    var selectedYear = $('#survey_drop').val();
    console.log(typeof selectedYear)
    var year = ""
    switch (selectedYear) {
      case '2023':
        year = "15 (2022-23)"
        break;
      case '2022':
        year = "14 (2021-22)"
        break;
      case '2021':
        year = "13 (2020-21)"
        break;
      case '2020':
        year = "12 (2019-20)"
        break;
      case '2019':
        year = "11 (2018-19)"
        break;
    }
    // Update the text in the modal
    $('#modal-text').text('This figure illustrates the response rates for the Year ' + year + ' State Program.');
});

  $('#compare-by-1').change(function() {
      var selectedOption = $(this).val();
      var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();

      console.log(selectedOption)
      if (selectedOption) {  // If an option is selected (not the placeholder)
          $.ajax({

              url: "{% url 'get_graph' %}",  // Replace with your URL pattern name
              data: {
                'state_abv': state_abv,
                'survey_taken_year': survey_taken_year,
                'type': selectedOption,
                'graph_no': 1

              },
              traditional: true,
              success: function(data) {
                // print("YOO NEW DATA", data)
                  // Replace the content of the plot with the received data
                  // You might need to adjust this part to match your actual data and plot element
                  $('#resizable-plot-1').html(data.plot_div);
              }
          });
      }
  });

  $('#compare-by-2').change(function() {
      var selectedOption = $(this).val();
      var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();


      if (selectedOption) {  // If an option is selected (not the placeholder)
          $.ajax({

              url: "{% url 'get_graph' %}",  // Replace with your URL pattern name
              data: {
                'state_abv': state_abv,
                'survey_taken_year': survey_taken_year,
                'type': selectedOption,
                'graph_no': 5
              },
              traditional: true,
              success: function(data) {
                // print("YOO NEW DATA", data)
                  // Replace the content of the plot with the received data
                  // You might need to adjust this part to match your actual data and plot element
                  $('#resizable-plot-2').html(data.plot_div);
              }
          });
      }
  });

  $('#compare-by-3').change(function() {
      var selectedOption = $(this).val();
      var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();


      if (selectedOption) {  // If an option is selected (not the placeholder)
          $.ajax({

              url: "{% url 'get_graph' %}",  // Replace with your URL pattern name
              data: {
                'state_abv': state_abv,
                'survey_taken_year': survey_taken_year,
                'type': selectedOption,
                'graph_no': 6
              },
              traditional: true,
              success: function(data) {
                // print("YOO NEW DATA", data)
                  // Replace the content of the plot with the received data
                  // You might need to adjust this part to match your actual data and plot element
                  $('#resizable-plot-3').html(data.plot_div);
              }
          });
      }
  });

  $('#compare-by-4').change(function() {
      var selectedOption = $(this).val();
      var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();
      console.log(state_abv)

      if (selectedOption) {  // If an option is selected (not the placeholder)
          $.ajax({

              url: "{% url 'get_graph' %}",  // Replace with your URL pattern name
              data: {
                'state_abv': state_abv,
                'survey_taken_year': survey_taken_year,
                'type': selectedOption,
                'graph_no': 7
              },
              traditional: true,
              success: function(data) {
                // print("YOO NEW DATA", data)
                  // Replace the content of the plot with the received data
                  // You might need to adjust this part to match your actual data and plot element
                  $('#resizable-plot-4').html(data.plot_div);
              }
          });
      }
  });

  $('#compare-by-5').change(function() {
      var selectedOption = $(this).val();
      var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();


      if (selectedOption) {  // If an option is selected (not the placeholder)
          $.ajax({

              url: "{% url 'get_graph' %}",  // Replace with your URL pattern name
              data: {
                'state_abv': state_abv,
                'survey_taken_year': survey_taken_year,
                'type': selectedOption,
                'graph_no': 8
              },
              traditional: true,
              success: function(data) {
                // print("YOO NEW DATA", data)
                  console.log(data)
                  // Replace the content of the plot with the received data
                  // You might need to adjust this part to match your actual data and plot element
                  $('#resizable-plot-5').html(data.plot_div);
              }
          });
      }
  });

 

  // Handle the click event for the reset button
$('#reset-button-1').click(function() {
  // Show the loader
  $('#loader').show();
  var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();


  // Make the AJAX request
  $.ajax({
    url: "{% url 'get_graph' %}",
    data: {
      // 'state_abv': ["AK"],
      // 'survey_taken_year': ['2022'],
      // 'type': 'reset'  // Indicate that this is a reset request
      'state_abv': state_abv,
      'survey_taken_year': survey_taken_year,
      'type': 'reset',
      'graph_no': 1
    },
    traditional: true,
    success: function(data) {
      // Hide the loader
      console.log("something!")
      $('#loader').hide();
      $('#compare-by-1').val('');

      // Replace the content of the plot with the received data
      $('#resizable-plot-1').html(data.plot_div);
    }
  });
});

$('#reset-button-2').click(function() {
  // Show the loader
  $('#loader').show();
  var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();


  // Make the AJAX request
  $.ajax({
    url: "{% url 'get_graph' %}",
    data: {
      // 'state_abv': ["AK"],
      // 'survey_taken_year': ['2022'],
      // 'type': 'reset'  // Indicate that this is a reset request
      'state_abv': state_abv,
      'survey_taken_year': survey_taken_year,      'type': 'reset',
      'graph_no': 5
    },
    traditional: true,
    success: function(data) {
      // Hide the loader
      console.log("something!")
      $('#loader').hide();
      $('#compare-by-2').val('');

      // Replace the content of the plot with the received data
      $('#resizable-plot-2').html(data.plot_div);
    }
  });
});

$('#reset-button-3').click(function() {
  // Show the loader
  $('#loader').show();
  var state_abv = $('#state_drop').val();
      var survey_taken_year = $('#survey_drop').val();
  // Make the AJAX request
  $.ajax({
    url: "{% url 'get_graph' %}",
    data: {
      // 'state_abv': ["AK"],
      // 'survey_taken_year': ['2022'],
      // 'type': 'reset'  // Indicate that this is a reset request
      'state_abv': state_abv,
      'survey_taken_year': survey_taken_year,      'type': 'reset',
      'graph_no': 6
    },
    traditional: true,
    success: function(data) {
      // Hide the loader
      console.log("something!")
      $('#loader').hide();
      $('#compare-by-3').val('');

      // Replace the content of the plot with the received data
      $('#resizable-plot-3').html(data.plot_div);
    }
  });
});

$('#reset-button-4').click(function() {
  // Show the loader
  $('#loader').show();
  var state_abv = $('#state_drop').val();
  var survey_taken_year = $('#survey_drop').val();
  // Make the AJAX request
  $.ajax({
    url: "{% url 'get_graph' %}",
    data: {
      // 'state_abv': ["AK"],
      // 'survey_taken_year': ['2022'],
      // 'type': 'reset'  // Indicate that this is a reset request
      'state_abv': state_abv,
      'survey_taken_year': survey_taken_year,      'type': 'reset',
      'graph_no': 7
    },
    traditional: true,
    success: function(data) {
      // Hide the loader
      $('#loader').hide();
      $('#compare-by-4').val('');

      // Replace the content of the plot with the received data
      $('#resizable-plot-4').html(data.plot_div);
    }
  });
});



$(document).ready(function() {
      // $('#state_drop').select2();
      // $('.form-control').select2();

//     $('#county_drop').select2();

    $('#state_drop').change(function() {
        var state = $(this).val();
        console.log(state);
        $.ajax({
            url: '/get_counties/',
            data: {
                'state_abv': state
            },
            dataType: 'json',
            success: function(data) {
                var select = $('#county_drop');
                select.empty();
                console.log(data)
                let entries = Object.entries(data);  // Convert the dictionary to an array of [key, value] pairs
                entries = entries
                .map(([key, value]) => [key, value.replace(/†/g, "")])
                .filter(([key, value]) => value !== value.toUpperCase())
                .sort();
                if (entries.length > 0) {
                    let lastElement = entries.pop();  // Remove the last element from the array
                    entries.unshift(lastElement);  // Add the removed element to the beginning of the array
                }
                // entries = entries.map(([key, value]) => [key, value.replace(/†/g, "")]).sort();
                // entries.sort((a, b) => a[1].localeCompare(b[1]));
                // entries.reverse();  // Reverse the array
                console.log(entries)

                for (let [key, value] of entries) {
                    $('<option>').val(value).text(value).appendTo(select);
                };
            }
        });
    });

    });


  </script>
</body>
</html>

{% endblock %}
{{ form.media.js }}
