{%  extends 'base.html' %}
{% load static %}
{% block content %}

<select name="state" class="filter-selectbox">
    {% for state in states %}
        <option value="{{ state }}">{{ state }}</option>
    {% endfor %} 
</select>

<br>
{{table_plot_1|safe}}   
<br>
{{table_plot_2|safe}}
<br>
{{table_plot_3|safe}} 
<br>
{{table_plot_4|safe}}
<br>
{{table_plot_5|safe}} 
<br>
<!-- <form class="state_abv" action="state_dropdown/" method="post">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Submit">
</form> -->

<!-- <img src={{table_plot_1|safe}} 
        alt="GeeksforGeeks logo"
        align="right">
<img src= {{table_plot_2|safe}}   
    alt="GeeksforGeeks logo"
    align="left"> -->
{% endblock %}