{%  extends 'base.html' %}
{% load static %}
{% block content %}

<form class="form-inline"action="../tables/" method="post">
    {% for field in form %}
    {%csrf_token%}
    <div>
    <div class="field-label">{{field.label }}</div>
    <div class="field-select">{{ field }}</div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit" >
</form>

<!-- {{table_plot_6|safe}}   
<br>
{{table_plot_1|safe}}   
<br>
{{table_plot_2|safe}}
<br>
{{table_plot_3|safe}} 
<br>
{{table_plot_4|safe}}
<br>
{{table_plot_5|safe}} 
<br>
<br> -->

<div class="row">
    <div class="column">
        {{table_plot_6|safe}}   
    </div>
    <div class="column">
        <div class="row">
        {{table_plot_1|safe}}   
        </div>
        <div class="row">
            {{table_plot_2|safe}}   
        </div>
    </div>
    <div class="column">
        {{table_plot_3|safe}}   
    </div>
    <div class="column">
        {{table_plot_4|safe}}   
    </div>
    <div class="column">
        {{table_plot_5|safe}}   
    </div>
</div>



<!-- <img src={{table_plot_1|safe}} 
        alt="GeeksforGeeks logo"
        align="right">
<img src= {{table_plot_2|safe}}   
    alt="GeeksforGeeks logo"
    align="left"> -->
{% endblock %}